---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroSection from "../components/Sections/HeroSection.astro";
import SingleImageSection from "../components/Sections/SingleImageSection.astro";
import SlideCardsSection from "../components/Sections/SlideCardsSection.astro";
import CallToActionSection from "../components/Sections/CallToActionSection.astro";
import data from "../data/clients.json";

const clients = data.clients || [];
---

<BaseLayout>
  <HeroSection
    title="Irricrops"
    subtitle="Plataforma que centraliza y transforma datos"
    backgroundImage="/uploads/hero.jpg"
    ctaText="Plan Your Visit"
    ctaLink="/im-new"
    secondaryCtaText="Watch Sermons"
    secondaryCtaLink="/sermons"
  />

  <SingleImageSection image="/uploads/img2.jpg" altImage="problema">
    <h2
      class="text-4xl md:text-5xl font-extrabold mb-4 text-gray-500 tracking-tight"
    >
      El Problema
    </h2>
    <p class="text-gray-600 mb-6 text-xl md:text-xl font-medium">
      El costo de seguir el ritmo a tantos datos que genera el campo
    </p>
    <ul
      class="list-disc list-inside space-y-3 mb-8 pl-2 text-green-800 text-lg md:text-xl font-semibold"
    >
      <li>Información repartida en diferentes formatos</li>
      <li>Poca trazabilidad de los datos</li>
      <li>Alta carga operativa</li>
      <li>Falta de integración entre sistemas</li>
      <li>Dificultad para estandarizar procesos</li>
    </ul>
  </SingleImageSection>

  <SlideCardsSection
    title="Analizan Datos en Irricrops"
    subtitle="Empresas que confían en nosotros"
    items={clients}
  />

  <CallToActionSection />
</BaseLayout>
