---
import Navigation from "./Navigation.astro";
---

<header class="sticky top-0 z-[70] w-full bg-white/80 backdrop-blur-md shadow-xl">
  <div class="container flex items-center justify-between h-20">
    <a href="/">
      <img
        src="/uploads/horizontal-grey.png"
        alt="Irricrops"
        class="h-10 md:h-12"
      />
    </a>

    <Navigation />
  </div>
</header>
